# Ex2 - Getting and Knowing your Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [2]:
chipo = pd.read_csv('C:/Users/hkc03/Desktop/JAY/chiptotle.tsv', sep='\t')

### Step 4. See the first 10 entries

In [3]:
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

### Step 5. What is the number of observations in the dataset?

In [4]:
# Solution 1
chipo.describe()

          order_id     quantity
count  4622.000000  4622.000000
mean    927.254868     1.075725
std     528.890796     0.410186
min       1.000000     1.000000
25%     477.250000     1.000000
50%     926.000000     1.000000
75%    1393.000000     1.000000
max    1834.000000    15.000000

In [5]:
# Solution 2

chipo.dtypes

order_id               int64
quantity               int64
item_name             object
choice_description    object
item_price            object
dtype: object

### Step 6. What is the number of columns in the dataset?

In [6]:
len(chipo.columns)

5

### Step 7. Print the name of all the columns.

In [7]:
columns = chipo.columns
columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

### Step 8. How is the dataset indexed?

In [8]:
chipo.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

### Step 9. Which was the most-ordered item?

In [50]:
item = chipo['item_name']
(values,counts) = np.unique(item, return_counts=True)
print(values)
print(counts)

['6 Pack Soft Drink' 'Barbacoa Bowl' 'Barbacoa Burrito'
 'Barbacoa Crispy Tacos' 'Barbacoa Salad Bowl' 'Barbacoa Soft Tacos'
 'Bottled Water' 'Bowl' 'Burrito' 'Canned Soda' 'Canned Soft Drink'
 'Carnitas Bowl' 'Carnitas Burrito' 'Carnitas Crispy Tacos'
 'Carnitas Salad' 'Carnitas Salad Bowl' 'Carnitas Soft Tacos'
 'Chicken Bowl' 'Chicken Burrito' 'Chicken Crispy Tacos' 'Chicken Salad'
 'Chicken Salad Bowl' 'Chicken Soft Tacos' 'Chips'
 'Chips and Fresh Tomato Salsa' 'Chips and Guacamole'
 'Chips and Mild Fresh Tomato Salsa' 'Chips and Roasted Chili Corn Salsa'
 'Chips and Roasted Chili-Corn Salsa'
 'Chips and Tomatillo Green Chili Salsa'
 'Chips and Tomatillo Red Chili Salsa'
 'Chips and Tomatillo-Green Chili Salsa'
 'Chips and Tomatillo-Red Chili Salsa' 'Crispy Tacos' 'Izze'
 'Nantucket Nectar' 'Salad' 'Side of Chips' 'Steak Bowl' 'Steak Burrito'
 'Steak Crispy Tacos' 'Steak Salad' 'Steak Salad Bowl' 'Steak Soft Tacos'
 'Veggie Bowl' 'Veggie Burrito' 'Veggie Crispy Tacos' 'Veggie Salad'
 'Veggie Salad Bowl' 'Veggie Soft Tacos']
[ 54  66  91  11  10  25 162   2   6 104 301  68  59   7   1   6  40 726
 553  47   9 110 115 211 110 479   1  22  18  43  48  31  20   2  20  27
   2 101 211 368  35   4  29  55  85  95   1   6  18   7]

### Step 10. For the most-ordered item, how many items were ordered?

In [54]:
moi = np.argmax(counts)
print(values[moi])
print(counts[moi])

Chicken Bowl
726

### Step 11. What was the most ordered item in the choice_description column?

### Step 12. How many items were orderd in total?

In [11]:
total_items = np.sum(chipo['quantity'])
total_items

4972

### Step 13. Turn the item price into a float

#### Step 13.a. Check the item price type

In [12]:
chipo['item_price'].dtype

dtype('O')

#### Step 13.b. Create a lambda function and change the type of item price

In [13]:

item_price = lambda x: x.str.replace('$', '')
chipo.item_price = item_price(chipo.item_price)
chipo.item_price = np.array(chipo.item_price, dtype='float64')


print(chipo.item_price)

0        2.39
1        3.39
2        3.39
3        2.39
4       16.98
5       10.98
6        1.69
7       11.75
8        9.25
9        9.25
10       4.45
11       8.75
12       8.75
13      11.25
14       4.45
15       2.39
16       8.49
17       8.49
18       2.18
19       8.75
20       4.45
21       8.99
22       3.39
23      10.98
24       3.39
25       2.39
26       8.49
27       8.99
28       1.09
29       8.49
        ...
4592    11.75
4593    11.75
4594    11.75
4595     8.75
4596     4.45
4597     1.25
4598     1.50
4599     8.75
4600     4.45
4601     1.25
4602     9.25
4603     9.25
4604     8.75
4605     4.45
4606     1.25
4607    11.75
4608    11.25
4609     1.25
4610    11.75
4611    11.25
4612     9.25
4613     2.15
4614     1.50
4615     8.75
4616     4.45
4617    11.75
4618    11.75
4619    11.25
4620     8.75
4621     8.75
Name: item_price, Length: 4622, dtype: float64

#### Step 13.c. Check the item price type

In [17]:
chipo.item_price.dtype

dtype('float64')

### Step 14. How much was the revenue for the period in the dataset?

In [32]:
chipo.quantity = np.array(chipo.quantity, dtype = 'float64')

x = chipo.quantity*chipo.item_price
total_revenue = np.sum(x)
print("$",total_revenue)

$ 39237.02

### Step 15. How many orders were made in the period?

In [45]:
total_orders = list(chipo.order_id.value_counts())
print(len(total_orders))

1834

### Step 16. What is the average revenue amount per order?

In [47]:
# Solution 1

AttributeError: 'Series' object has no attribute 'unique_count'

In [16]:
# Solution 2

### Step 17. How many different items are sold?

In [30]:
total_orders = list(chipo.item_name.value_counts())
len(total_orders)

50