# Occupation

### Introduction:

Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [1]:
import numpy as np
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user).

### Step 3. Assign it to a variable called users.

In [5]:
users = pd.read_csv('u.user', sep = '|')
users.head()

   user_id  age gender  occupation zip_code
0        1   24      M  technician    85711
1        2   53      F       other    94043
2        3   23      M      writer    32067
3        4   24      M  technician    43537
4        5   33      F       other    15213

### Step 4. Discover what is the mean age per occupation

In [8]:
users_group = users.groupby('occupation').mean()
round(users_group['age'])

occupation
administrator    39.0
artist           31.0
doctor           44.0
educator         42.0
engineer         36.0
entertainment    29.0
executive        39.0
healthcare       42.0
homemaker        33.0
lawyer           37.0
librarian        40.0
marketing        38.0
none             27.0
other            35.0
programmer       33.0
retired          63.0
salesman         36.0
scientist        36.0
student          22.0
technician       33.0
writer           36.0
Name: age, dtype: float64

### Step 5. Discover the Male ratio per occupation and sort it from the most to the least

In [14]:
male_users = users[users['gender'] == 'M']
male_users['occupation'].value_counts()
#male_users_group = male_users.groupby('occupation').count()
#male_users_group['count'] = male_users_group['user_id']
#male_users_group['count']

student          136
other             69
educator          69
engineer          65
programmer        60
administrator     43
executive         29
scientist         28
writer            26
technician        26
librarian         22
entertainment     16
marketing         16
artist            15
retired           13
lawyer            10
salesman           9
doctor             7
none               5
healthcare         5
homemaker          1
Name: occupation, dtype: int64

### Step 6. For each occupation, calculate the minimum and maximum ages

In [18]:
users_min = users.groupby('occupation').min()
round(users_min['age'])

occupation
administrator    21
artist           19
doctor           28
educator         23
engineer         22
entertainment    15
executive        22
healthcare       22
homemaker        20
lawyer           21
librarian        23
marketing        24
none             11
other            13
programmer       20
retired          51
salesman         18
scientist        23
student           7
technician       21
writer           18
Name: age, dtype: int64

In [19]:
users_max = users.groupby('occupation').max()
round(users_max['age'])

occupation
administrator    70
artist           48
doctor           64
educator         63
engineer         70
entertainment    50
executive        69
healthcare       62
homemaker        50
lawyer           53
librarian        69
marketing        55
none             55
other            64
programmer       63
retired          73
salesman         66
scientist        55
student          42
technician       55
writer           60
Name: age, dtype: int64

### Step 7. For each combination of occupation and gender, calculate the mean age

In [21]:
users_occ_group = users.groupby('occupation').mean()
round(users_occ_group['age'])

occupation
administrator    39.0
artist           31.0
doctor           44.0
educator         42.0
engineer         36.0
entertainment    29.0
executive        39.0
healthcare       42.0
homemaker        33.0
lawyer           37.0
librarian        40.0
marketing        38.0
none             27.0
other            35.0
programmer       33.0
retired          63.0
salesman         36.0
scientist        36.0
student          22.0
technician       33.0
writer           36.0
Name: age, dtype: float64

In [24]:
users_gender_group = users.groupby('gender').mean()
round(users_gender_group['age'])

gender
F    34.0
M    34.0
Name: age, dtype: float64

### Step 8.  For each occupation present the percentage of women and men

In [37]:
male = users[users['gender'] == 'M']
female = users[users['gender'] == 'F']
male_count = male.groupby('occupation').count()
female_count = female.groupby('occupation').count()
total_count = male_count + female_count
male_percent = (male_count/total_count)*100
male_percent['percentage'] = male_percent['user_id']
female_percent = (female_count/total_count)*100
female_percent['percentage'] = female_percent['user_id']

print('Male percentage in occupations :\n\n ',male_percent['percentage'])
print('\n\n')
print('Female percentage in occupations :\n\n ',female_percent['percentage'])

Male percentage in occupations :

  occupation
administrator    54.430380
artist           53.571429
doctor                 NaN
educator         72.631579
engineer         97.014925
entertainment    88.888889
executive        90.625000
healthcare       31.250000
homemaker        14.285714
lawyer           83.333333
librarian        43.137255
marketing        61.538462
none             55.555556
other            65.714286
programmer       90.909091
retired          92.857143
salesman         75.000000
scientist        90.322581
student          69.387755
technician       96.296296
writer           57.777778
Name: percentage, dtype: float64



Female percentage in occupations :

  occupation
administrator    45.569620
artist           46.428571
doctor                 NaN
educator         27.368421
engineer          2.985075
entertainment    11.111111
executive         9.375000
healthcare       68.750000
homemaker        85.714286
lawyer           16.666667
librarian        56.862745
marketing        38.461538
none             44.444444
other            34.285714
programmer        9.090909
retired           7.142857
salesman         25.000000
scientist         9.677419
student          30.612245
technician        3.703704
writer           42.222222
Name: percentage, dtype: float64